* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  text-decoration: none;
}

body {
  background: #fff7eb;
  color: #333;
  line-height: 1.6;

}


header {
  background: linear-gradient(to right, #bbd2a9, #d97706);
  padding: 15px 30px;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80px;
}

header img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 10px;

}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 15px;
  text-decoration: none;
}

.btn-group {
  margin: 10px 0 20px;
  width: 1000px;
  
}
#btn2{
 margin-left: 710px;
}

.btn {
  background: #ffdbac;
  border: none;
  padding: 10px 18px;
  margin-right: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
}

.btn:hover {
  background: #f8b75d;
}

h2 {
  margin: 15px 0 25px;
  font-size: 1.8rem;
  color: #3a2c1d;
}

.card {
  display: flex;
  gap: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.50);
  margin-bottom: 20px;
  padding: 15px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  flex: 1;
}

.card h3 {
  margin-bottom: 8px;
  font-size: 1.3rem;
  color: #4a321d;
}

.card p {
  font-size: 0.95rem;
  margin-bottom: 6px;
}

.location {
  color: #d35400;
  font-weight: bold;
}

.timings {
  color: #2c3e50;
  font-size: 0.9rem;
}

footer {
  background: #e09967;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.9rem;
  margin-top: 30px;
}

footer div {
  margin: 10px 0;
}

footer a {
  color: #b34400;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

