* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        
        }

        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #fde2e2, #e0f2fe);
            color: #1f2937;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
        }

        header {
            width: 100%;
            background: linear-gradient(to right, #a855f7, #ec4899);
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
        }

        header p {
            font-weight: bold;
            font-size: 1.3rem;
        }

        header img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
        }

        .btn {
            background-color: #51e8c2;
            color: #000;
            padding: 8px 16px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
            transition: 0.2s ease-in-out;
        }

        .btn:hover {
            transform: translateY(-4px);
            box-shadow: 0px 0px 5px 2px rgba(53, 52, 52, 0.4);
        }

        .card {
            background: #fff;
            border-radius: 16px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            width: 650px;
            margin-top: 40px;
            transition: transform 0.2s ease-in-out;
        }

        .card:hover {
            transform: scale(1.03);
        }

        .card img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .card-content {
            padding: 20px;
        }

        .card-content h3 {
            font-size: 1.6rem;
            margin-bottom: 10px;
            color: #b91c1c;
        }

        .card-content p {
            margin-bottom: 8px;
            font-size: 1rem;
            line-height: 1.5;
        }

        .location,
        .timings {
            font-weight: bold;
            color: #374151;
        }