/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Background */
body {
  background: #fffbea;
  color: #4b2e2e;
}

/* Header */
header {
  background: #fcd49b;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4b2e2e;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 20px;
     height: 100px;
}
 header img {
     border-radius: 50%;
     width: 100px;
     height: 100px;
     position: absolute;
     left: 10px;}


/* Feedback Box */
.feedback-box {
  max-width: 600px;
  margin: 60px auto;
  background: #fff4e3;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.feedback-box h1 {
  font-size: 26px;
  margin-bottom: 10px;
  text-align: center;
  color: #5a362e;
}

.feedback-box p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: #634d46;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: 600;
  color: #4b2e2e;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 15px;
  width: 100%;
}

input:focus, textarea:focus {
  border-color: #e85a0c;
  outline: none;
} 


#button {
  background: #e85a0c;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  
}
a{
    text-decoration: none;
}



button:hover {
  background: #c94a08;
}
