 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', sans-serif;
 }

 body {
     /* background: linear-gradient(to bottom right, #fff8e7, #fde2c4);  */
     color: #4b2e2e;
    
 }

 header {
     background: linear-gradient(to right, #f59e0b, #d97706);
     padding: 15px 20px;
     text-align: center;
     font-size: 1.9rem;
     font-weight: bold;
     color: white;
     letter-spacing: 1px;
     box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
     height: 150px;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 header img {
     border-radius: 50%;
     width: 100px;
     height: 100px;
     position: absolute;
     left: 10px;
 }

 .hero {
     text-align: center;
     padding: 50px 20px;
     

 }

 


 .hero h1 {
     font-size: 2.4rem;
     margin-bottom: 10px;
     color: #b45309;
 }

 .hero p {
     color: #6a4f4b;
     max-width: 650px;
     margin: 0 auto 30px;
     line-height: 1.6;
 }

 .selector-box {
     background:linear-gradient(45deg, #d8c9ad, #d97706) ;
     padding-bottom: 25px;
     border: 1px solid #e6d2b8;
     border-radius: 12px;
     max-width: 1200px;
     margin: 0 auto;
     text-align: center;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
   
    
 }
 .selector-box h3{
    position: relative;top: 20px;
    font-size: 1.6rem;
 }

 .selector-box img {
     height: 100%;
     width: 100%;
     border-radius: 12px;
     
 }


 select {
     padding: 10px;
     font-size: 1rem;
     border-radius: 6px;
     border: 1px solid #c1a67a;
     background-color: #fffaf0;
     margin-bottom: 15px;
     width: 80%;
 }



 .explore-btn:hover {
     background: linear-gradient(to right, #ea580c, #c2410c);
     transform: scale(1.05);
 }

 h2.section-title {
     text-align: center;
     margin: 50px 0 20px;
     font-size: 1.9rem;
     color: #b45309;
 }

 .destinations {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 25px;
     max-width: 1100px;
     margin: 0 auto;
     padding: 0 20px;
 }

 .card {
     background-color: #fff;
     border-radius: 12px;
     overflow: hidden;
     border: 1px solid #e6d2b8;
     text-align: center;
     transition: transform 0.25s ease, box-shadow 0.25s ease;
     box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
 }

 .card img {
     width: 100%;
     height: 170px;
     object-fit: cover;
     transition: transform 0.3s ease;
 }

 .card p {
     padding: 12px;
     font-weight: bold;
     color: #4b2e2e;
     background-color: #fffaf0;
 }

 .card:hover {
     transform: translateY(-5px);
     box-shadow: 0 8px 18px rgba(0, 0, 0, 0.50);
 }

 .card:hover img {
     transform: scale(1.05);
 }

 footer {
     background: linear-gradient(to right, #f59e0b, #d97706);
     padding: 30px 20px;
     margin-top: 50px;
     color: white;
 }

 .footer-container{
     display:flex;
    justify-content: space-between;
     gap: 20px;
     max-width: 1100px;
     margin: auto;
 }

 footer h4 {
     margin-bottom: 10px;
     color: #fff7ed;
 }

 footer a {
     color: #ffedd5;
     text-decoration: none;
     display: block;
     margin-bottom: 5px;
     font-size: 0.95rem;
 }

 footer a:hover {
     text-decoration: none;
 }